.normal-class-background {
    background-color: #A8A77A;
}

.fire-class-background {
    background-color: #EE8130;
}
  
.water-class-background {
    background-color: #6390F0;
}

.electric-class-background {
    background-color: #F7D02C;
}
  
.grass-class-background {
    background-color: #7AC74C;
}

.ice-class-background {
    background-color: #96D9D6;
}

.fighting-class-background {
    background-color: #C22E28;
}

.poison-class-background {
    background-color: #A33EA1;
}

.ground-class-background {
    background-color: #E2BF65;
}

.flying-class-background {
    background-color: #A98FF3;
}

.psychic-class-background {
    background-color: #F95587;
}

.bug-class-background {
    background-color: #A6B91A;
}

.rock-class-background {
    background-color: #B6A136;
}

.ghost-class-background {
    background-color: #735797;
}

.dragon-class-background {
    background-color: #6F35FC;
}

.dark-class-background {
    background-color: #705746;
}

.steel-class-background {
    background-color: #B7B7CE;
}

.fairy-class-background {
    background-color: #D685AD;
}


.normal-class-color {
    color: #A8A77A;
}

.fire-class-color {
    color: #EE8130;
}
  
.water-class-color {
    color: #6390F0;
}

.electric-class-color {
    color: #F7D02C;
}
  
.grass-class-color {
    color: #7AC74C;
}

.ice-class-color {
    color: #96D9D6;
}

.fighting-class-color {
    color: #C22E28;
}

.poison-class-color {
    color: #A33EA1;
}

.ground-class-color {
    color: #E2BF65;
}

.flying-class-color {
    color: #A98FF3;
}

.psychic-class-color {
    color: #F95587;
}

.bug-class-color {
    color: #A6B91A;
}

.rock-class-color {
    color: #B6A136;
}

.ghost-class-color {
    color: #735797;
}

.dragon-class-color {
    color: #6F35FC;
}

.dark-class-color {
    color: #705746;
}

.steel-class-color {
    color: #B7B7CE;
}

.fairy-class-color {
    color: #D685AD;
}